[package]
name = "explorer"
version = "0.1.0"
authors = []
edition = "2018"

[lib]
name = "explorer"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1"
chrono = "0.4"
rand = { version = "0.8.4", features = ["alloc"] }
rand_pcg = "0.3.1"
# We are using `rustler` from GitHub until a new version of `rustler-sys` arrives.
# rustler = "0.23.0"
rustler = { git = "https://github.com/rusterlium/rustler" }
thiserror = "1"

[target.'cfg(not(all(windows, target_env = "gnu")))'.dependencies]
mimalloc = { version = "*", default-features = false }

[dependencies.polars]
version = "0.18.0"
default-features = false
features = [
  "cross_join",
  "dtype-date",
  "dtype-datetime",
  "is_in",
  "json",
  "parquet",
  "pivot",
  "plain_fmt",
  "random",
  "rows",
  "sort_multiple",
  "strings",
  "temporal",
  "cum_agg",
  "rolling_window",
  "decompress"
]
