[package]
name = "explorer"
# We don't use versioning in the in this crate.
# Please check the `mix.exs` file at the root of this project for the current version.
version = "0.1.0"
authors = []
edition = "2018"

[lib]
name = "explorer"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
anyhow = "1"
chrono = "0.4"
rand = { version = "0.8.4", features = ["alloc"] }
rand_pcg = "0.3.1"
rustler = { git = "https://github.com/rusterlium/rustler" }
thiserror = "1"

# MiMalloc won´t compile on Windows with the GCC compiler.
# On Linux with Musl it won´t load correctly.
[target.'cfg(not(any(all(windows, target_env = "gnu"), all(target_os = "linux", target_env = "musl"))))'.dependencies]
mimalloc = { version = "*", default-features = false }

[dependencies.polars]
version = "0.24.2"
default-features = false
features = [
  "checked_arithmetic",
  "cross_join",
  "cum_agg",
  "decompress",
  "dtype-date",
  "dtype-datetime",
  "ipc",
  "ipc_streaming",
  # JSON won't compile on ARM 32 bits targets, so we disable in the "release" workflow.
  "json",
  "lazy",
  "parquet",
  "performant",
  "pivot",
  "random",
  "rolling_window",
  "rows",
  "simd",
  "sort_multiple",
  "temporal",
  "to_dummies",
]

[dependencies.polars-ops]
version = "0.24.2"

[patch.crates-io]
# Temporary, to fix parsing of floats with a better precision.
simd-json = { git = "https://github.com/simd-lite/simd-json" }
# Temporary, to fix compilation against ARM 32 bits
value-trait = { git = "https://github.com/simd-lite/value-trait" }
